.header {
    display: flex;
    align-items: center;
    color: yellowgreen;
    width: 100%;
    height: 200px;
    border: 1px dotted orange;
    padding: 10px;
    margin-bottom:10px;
}
.header h1 {
    font-size: 50px;
}
.button-component {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px dotted purple;
}
.input-component {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px dotted gray;
}

.post-list {
  padding: 20px;
  border: 1px dotted blue;
}

table, td, th {
    border: 1px solid black;
}

table {
border-collapse: collapse;
width: 100%;
}

th {
height: 70px;
}